html {
	background-color: #d5d4d4;
}
body {
	background-color: inherit;
}
header {
	background-color: inherit;
}
header a.button {
	background-color: inherit;
}
footer {
	background-color: inherit;
}
.container {
	max-width: 1080px;
}
