html {
	background: rgb(120, 47, 64);
	background: linear-gradient(90deg, rgba(120, 47, 64, 0.65) 0%, rgba(181, 181, 180, 0.65) 50%, rgba(206, 184, 136, 0.65) 100%);
}
body {
	background-color: transparent;
}
header {
	background-color: transparent;
}
header a.button {
	background-color: transparent;
}
footer {
	background-color: transparent;
}
.container {
	max-width: 1080px;
}
